# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\bboss\Documents\School\Masters\Workspaces\415\HW\Java Threads\.idea/dataSources/
/dataSources.local.xml
